@model List<Laboratorio5.Models.PaisModel>;

@{
    ViewData["Title"] = "Paises";
}

<h1>@ViewBag.MainTitle</h1>

<div>
    <table class="table">

        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Idioma</th>
                <th>Continente</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Nombre</td>
                    <td>@item.Idioma</td>
                    <td>@item.Continente</td>
                </tr>
            }
        </tbody>
    </table>
</div>

